/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
junit-report.xml
coverage-report.txt
tests/Browser/screenshots
tests/Browser/console
bootstrap/ssr/
coverage-report.xml
infection-log.json
infection.html
infection.json5
infection.log
summary.json
summary.log
per-mutator.md
.phpunit.cache/
