name: Check

on:
  push:
    branches:
      - main
  merge_group:
  pull_request:
    branches: [ "main" ]
    types: [ opened, reopened, synchronize ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.head_ref != 'release-please--branches--main' }}

permissions:
  checks: write
  pull-requests: write
  actions: read
  issues: read
  contents: read
  packages: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - uses: actions/checkout@v5

      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.testing', '.env');"

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Generate key
        run: php artisan key:generate --env=testing

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Install Chrome Driver
        run: php artisan dusk:chrome-driver 114

      - name: Start Chrome Driver
        run: ./vendor/laravel/dusk/bin/chromedriver-linux &

      - name: Install and Build npm
        run: |
          npm ci
          npm run build

      - name: Run Laravel Server
        run: php artisan serve &

#      - name: Run tests
#        env:
#          XDEBUG_MODE: coverage
#          INFECTION_DASHBOARD_API_KEY: ${{ secrets.INFECTION_DASHBOARD_API_KEY }}
#        run: >-
#          ./vendor/bin/infection --test-framework=pest
#          --test-framework-options="--ci --coverage --coverage-clover=coverage-report.xml --min=95"
#          --show-mutations --configuration=infection.json5 --threads=10
#          --min-msi=95 --min-covered-msi=95

      # Run normal tests until https://github.com/pestphp/pest/pull/1145 is fixed
      - name: Run tests
        env:
          XDEBUG_MODE: coverage
        run: vendor/bin/pest --ci --log-junit junit-report.xml --coverage --coverage-clover coverage-report.xml --min=95

      - name: Report Coverage in comment
        uses: lucassabreu/comment-coverage-clover@v0.15.4
        with:
          file: coverage-report.xml

      - name: Check per-mutator.md existence
        id: mutator-report-file
        uses: andstor/file-existence-action@v3
        with:
          files: per-mutator.md

      - name: Read infection per mutator report
        if: ${{ steps.mutator-report-file.outputs.files_exists == 'true' }}
        id: mutation-report
        uses: juliangruber/read-file-action@v1
        with:
          path: per-mutator.md

      - if: ${{ steps.mutator-report-file.outputs.files_exists == 'true' }}
        run: echo "${{ steps.mutation-report.outputs.content }}" >> "$GITHUB_STEP_SUMMARY"

      - name: Upload Screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: tests/Browser/screenshots

      - name: Upload Console Logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: console
          path: tests/Browser/console

      - name: Publish Screenshots
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: screenshots
          path: screenshots/

  pint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - run: ./vendor/bin/pint
      - uses: reviewdog/action-suggester@v1
        with:
          tool_name: pint

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.github_token }}

  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: reviewdog/action-actionlint@v1

  scan-for-secrets:
    runs-on: ubuntu-latest
    if: github.event_name != 'merge_group'
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE}}

  conventional-commits:
    runs-on: ubuntu-latest
    if: github.event_name != 'merge_group' && github.event_name != 'push'
    steps:
      - name: At least one conventional commit
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh pr view ${{ github.event.number }} \
          -R ${{ github.repository }} \
          --json title,commits --jq '.commits[].messageHeadline, .title' \
          | grep -E '(build|chore|ci|docs|feat|fix|perf|refactor|revert|style|test){1}(\([-a-zA-Z0-9]+\))?.+'

  phpstan-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Run phpstan
        uses: paulschuberth/action-reviewdog-phpstan@main
        with:
          github_token: '${{ github.token }}'
          level: 'error'
          fail_on_error: 'true'
          target_directory: 'app'
          phpstan_level: max

  dependency-review:
    runs-on: ubuntu-latest
    if: github.event_name != 'merge_group' && github.event_name != 'push'
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v5
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
        with:
          retry-on-snapshot-warnings: true

  deploy-into-sandbox:
    needs: [ dependency-review, actionlint, phpstan-linter, scan-for-secrets, shellcheck, test, conventional-commits ]
    if: ${{ github.head_ref == 'release-please--branches--main' }}
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      environment: Sandbox

  automerge-dependabot:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PR_URL: ${{ github.event.pull_request.html_url }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - name: Approve a PR if not already approved
        run: |
          gh pr checkout "$PR_URL" # sets the upstream metadata for `gh pr status`
          if [ "$(gh pr status --json reviewDecision -q .currentBranch.reviewDecision)" != "APPROVED" ];
          then gh pr review --approve "$PR_URL"
          else echo "PR already approved, skipping additional approvals to minimize emails/notification noise.";
          fi
      - name: Enable auto-merge
        run: gh pr merge --auto --merge "$PR_URL"