name: Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: false
        description: The environment in which to deploy
        default: Sandbox
        type: string
  workflow_dispatch:
    inputs:
      environment:
        required: false
        description: The environment in which to deploy
        default: Sandbox
        type: choice
        options:
          - Sandbox
          - Production

jobs:
  select-environment:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.environment.outputs.environment }}
      url: ${{ steps.environment.outputs.url }}
    steps:
      - shell: bash
        id: environment
        run: |
          url="https://tour-sandbox.rotex1800.de"
          if [[ "${{ github.event.inputs.environment }}" == "Production" ]]; then
            url="https://tour.rotex1800.de"
          fi
          echo "::set-output name=environment::${environment}"
          echo "::set-output name=url::${url}"

  deploy:
    needs:
      - select-environment
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment }}
      url: ${{ needs.select-environment.outputs.url }}
    steps:
      - uses: actions/checkout@v3
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSHKEY }}
          passphrase: ${{ secrets.SSHKEY_PASSPHRASE }}
          script: 'source "${{ secrets.USER_BASHRC }}" && cd "${{ secrets.PROJECT_LOCATION }}" && ./.scripts/deploy.sh'
